github "jeffersonBe/Swift-YouTube-Player" "master"
github "delba/Log" "v1.0"
github "SnapKit/SnapKit" "master"
github "thii/FontAwesome.swift" "0.11.1"
github "vinzen/Toucan" "swift3.0"
github "teambition/TBEmptyDataSet" "2.1"
github "Alamofire/Alamofire"
github "akashivskyy/GoogleAnalytics-Framework"
github "Lickability/PinpointKit" "swift-3.0-beta-6-migration"
github "mamaral/Onboard" "master"
github "radex/SwiftyUserDefaults" "master"
